.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 60px 60px;
  text-align: center;

  .logo {
    width: 100px;
    height: auto;
    margin-bottom: 15px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  h3 {
    margin: 15px 0;
  }

  .social-container {
    margin: 15px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;

    p {
      margin-right: 10px;
    }

    a {
      width: 25px;
      height: 25px;
      transition: opacity 0.25s;

      &:hover {
        opacity: 0.75;
      }

      .instagram {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}
