.large-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 48%;
  text-decoration: none;
  margin: 8px 8px 25px;
  transition: opacity 0.25s;

  &:hover {
    opacity: 0.75;
  }

  @media (max-width: 996px) {
    width: 100%;
  }

  figure {
    width: 95%;

    img {
      width: 100%;
      object-fit: cover;
    }
  }

  h2 {
    margin-top: 15px;
  }

  p {
    margin-top: 30px;
    padding: 15px;
    background-color: #ef2929;
    color: #fff;
    border-radius: 30px;
  }
}
